        <section class="content container">
            <nav class="d-flex justify-content-between align-items-center">
                {# Logo #}<section>
                    <a href="{{ path('home') }}">
                        <picture>
                            <source srcset="{{ asset('images/Gym-Tracker.png') }}" height="50px" media="(min-width: 768px)">
                            <img id="logo" src="{{ asset('images/GT.png') }}" alt="{{ 'title'|trans }}" height="38px">
                        </picture>
                    </a>
                </section>
                {# Search #}<section id="section-search" class="d-none d-md-flex">
                    <form method="get" action="/">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input id="search" name="search" type="text" class="form-control" placeholder="Rechercher un athlète" {% if search is defined %}value="{{ search }}"{% endif %}>
                        </div>
                    </form>
                    <a class="ps-2 d-none d-md-block" href="{{ path('profile', { 'username': app.user.username }) }}"><img id="picture" width="38px" height="38px" class="profile-picture pointer border p-picture-little{% if page is defined and page == 'profile' and athlete is defined and athlete == app.user %} border-white{% endif %}" src="{% if app.user.picture %}{{ asset(app.user.picture) }}{% else %}{{ asset('images/placeholder-athlete.jpg') }}{% endif %}"></a>
                </section>
                {# New session #}<section>
                    <button class="btn btn-success text-nowrap" data-bs-toggle="modal" data-bs-target="#_session">{{ 'main.session.new'|trans }}</button>
                </section>
            </nav>
        </section>
