{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container">
            <h2 hidden>{{ athlete.username }}</h2>
            <span hidden id="athlete-identifier">{{ athlete.id }}</span>
            <div class="row">
                <section id="breadcrumb" class="mb-1 mb-md-2 p-2 mx-auto d-flex justify-content-between align-items-center">
                    <h3 hidden>{{ 'main.profile.measurements.label'|trans }}</h3>
                    <div class="col-3 col-md-6 text-white fw-bold fs-3">
                        <span class="d-md-none">{{ 'main.profile.measurements.title'|trans }}</span>
                        <span class="d-none d-md-inline">{{ 'main.profile.measurements.list'|trans }}</span>
                    </div>
                    <div class="col-9 col-md-6 text-end text-truncate" aria-label="breadcrumb">
                        <span><a href="{{ path('profile', {'username': athlete.username}) }}" class="text-decoration-none">@{{ athlete.username }}</a></span>
                        <span class="mx-1"><i class="fa-solid fa-chevron-right"></i></span>
                        <span class="d-md-none fw-bold">{{ 'main.profile.measurements.title'|trans }}</span>
                        <span class="d-none d-md-inline fw-bold">{{ 'main.profile.measurements.list'|trans }}</span>
                    </div>
                </section>
                {# measurements #}<section id="measurements" class="p-2 mx-auto">
                    <table class="table table-dark table-striped text-center">                        
                        <thead class="text-body">
                            <tr>
                                <th scope="col">{{ 'main.profile.measurements.datetime'|trans }}</th>
                                <th scope="col">{{ 'main.profile.measurements.height'|trans }}</th>
                                <th scope="col">{{ 'main.profile.measurements.weight'|trans }}</th>
                                <th scope="col" class="d-none d-md-table-cell">{{ 'main.profile.measurements.bmi.label'|trans }}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
{% for measurement in measurements %}
{% if measurement.height != null and measurement.weight != null %}
                            <tr class="align-middle">
                                <td><span class="d-md-none">{{ measurement.date|date('d/m/Y') }}</span><span class="d-none d-md-inline"><span class="text-body">{{ 'main.profile.measurements.at_date'|trans }}</span> {{ measurement.date|date('d') }} {{ ('month.' ~ measurement.date|date('m'))|trans }} {{ measurement.date|date('Y') }}</span> <span class="text-body d-none d-sm-inline">{{ 'main.profile.measurements.at_time'|trans }}</span> {{ measurement.date|date('H:i') }}</td>
                                <td>{{ measurement.height }}</td>
                                <td>{{ measurement.weight }}</td>
{% set bmi = measurement.weight / ((measurement.height / 100) * (measurement.height / 100)) %}
                                <td class="fw-bold d-none d-md-table-cell">{{ bmi|round(1) }}</td>
                                <td><button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i><span class="d-none d-md-inline"> Supprimer</span></td>
                            </tr>
{% endif %}
{% endfor %}
                        </tbody>
                        </table>
                </section>
            </div>
        </section>
{% endblock %}