{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container" {{ stimulus_controller('login') }}>
{% if error %}
            <div class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                <span>Identifiants invalides. <a class="text-decoration-none" href="/">Mot de passe oublié.</a></span>
            </div>
{% endif %}
            <div id="title" class="text-center py-3">
                <h2 id="title" class="text-white">{{ 'authentication.login.form'|trans }}</h2>
            </div>
{{ include('authentication/login/_form.html.twig') }}
            <div class="py-2 text-center">
                <a class="btn btn-link" href="{{ path('authentication_register') }}">{{ 'authentication.login.register'|trans }}</a>
            </div>
        </section>
{% endblock %}