{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container" {{ stimulus_controller('login') }}>
            <div id="title" class="text-center py-3">
                <h2 id="authentication-title" class="text-white mb-0">{{ 'authentication.login.form'|trans }}</h2>
                <a class="text-decoration-none" href="{{ path('authentication_register') }}"><i class="fa-solid fa-right-to-bracket"></i> {{ 'authentication.register.form'|trans }}</a>
            </div>   
{{ include('authentication/login/_form.html.twig') }}
{% if error %}
            <div class="my-2 text-center">
                <span class="text-danger">{{ 'authentication.login.error'|trans }} <a class="text-decoration-none" href="#">{{ 'authentication.login.forgotten'|trans }}</a></span>
            </div>
{% endif %}
        </section>
{% endblock %}