{% extends 'base.html.twig' %}
{% block body %}
        <section class="content">
            <h2>{{ 'authentication.login.title'|trans }}</h2>
            {{ form_start(form) }}
                <section id="section-username">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </section>
                <section id="section-password">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                </section>
                <section id="section-submit">
                    {{ form_widget(form.submit) }}         
                </section>
            {{ form_end(form) }}
            <p><a href="{{ path('authentication_register') }}">{{ 'authentication.login.link'|trans }}</a></p>
        </section>
{% endblock %}