                    <aside id="_exercice" class="modal fade">
                        <input id="_exercice_validity" value="1" hidden>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <header id="_exercice-header" class="modal-header">
                                    <p class="modal-title fs-5">{{ 'main.session.exercice.choose.title'|trans }}</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </header>
                                <main id="_exercice-body" class="modal-body">
                                    <section id="section-search-input" class="d-flex flex-wrap">
                                        <div class="col-12 col-md-8 pe-0 pe-md-1 mb-2">
                                            <div class="input-group">
                                                <span class="input-group-text pointer-only"><i class="fa-solid fa-magnifying-glass"></i></span>
                                                <input id="exercice-search" inputmode="search" class="form-control search-bar" placeholder="{{ 'main.session.exercice.search'|trans }}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 ps-0 ps-md-1 mb-3">
                                            <select id="exercice-equipment" class="form-select">
                                                <option value="">{{ 'all'|trans }}</option>                
{% for equipment in equipments %}
                                                <option value="{{ equipment }}">{{ equipment|trans|capitalize }}</option>
{% endfor %}                      
                                            </select>
                                        </div>
                                    </section>
                                    <section id="section-search-output" class="mb-3">
                                        <div>
                                            <div class="card">
                                                <main id="exercice-list" class="card-body overflow-auto p-2">
                                                </main>
                                            </div>
                                        </div>
                                    </section>
                                    <section id="section-selected-exercices"></section>
                                    <div id="minimum-message" class="text-center text-danger mb-1">
                                        {{ "main.session.exercice.choose.minimum"|trans }}
                                    </div>
                                </main>
                                <footer id="_exercice-footer" class="modal-footer">
                                    <button id="button-choose" data-action="click->session#choose" data-bs-target="#_add" data-bs-toggle="modal" class="btn btn-success text-nowrap">{{ 'main.session.exercice.choose.submit'|trans }}</button>
                                </footer>
                            </div>
                        </div>
                    </aside>