{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container" {{ stimulus_controller('session') }}>
            <h2 hidden>{{ session.athlete.username }}</h2>
            <span hidden id="athlete-identifier">{{ session.athlete.id }}</span>
            <span hidden id="session-identifier">{{ session.id }}</span>
            <div class="row">
{% if app.user.isWorkingOut == false %}
                <section id="breadcrumb" class="mb-1 mb-md-2 p-2 mx-auto d-flex justify-content-end align-items-center">
                    <div class="col-3 text-white fw-bold fs-3">
                        <span>#{{ position }}</span>
                    </div>
                    <div class="col-9 text-end text-truncate" aria-label="breadcrumb">
                        <span class="identifier">@{{ session.athlete.username }}</a></span>
                        <span class="mx-1"><i class="fa-solid fa-chevron-right"></i></span>
                        <span class="d-md-none"><a class="text-decoration-none" href="{{ path('sessions', { 'username': session.athlete.username }) }}">{{ 'main.profile.sessions.title'|trans }}</a></span>
                        <span class="d-none d-md-inline"><a class="text-decoration-none" href="{{ path('sessions', { 'username': session.athlete.username }) }}">{{ 'main.profile.sessions.list'|trans }}</a></span>                        
                        <span class="mx-1"><i class="fa-solid fa-chevron-right"></i></span>
                        <span class="d-md-none fw-bold">#{{ position }}</span>
                        <span class="d-none d-md-inline fw-bold identifier">{{ session.title }}</span>
                    </div>
                </section>
{% endif %}
                <section id="session" class="p-2 mx-auto">
                    <section class="text-center mb-4">
                        <div class="card">
                            <main class="card-body">
                                <h3 class="text-white identifier">{{ session.title }}</h3>
                                <span class="text-center">{{ session.start|date('d/m/Y H:i') }}</span>
                            </main>
                        </div>
                    </section>
                    <p id="loading" class="text-center"><i class="fa-solid fa-syringe"></i> {{ 'loading'|trans }}</p>
                    <section id="session-muscles"></section>
                    <section id="session-exercices"></section>
{% if session.current or session.athlete == app.user %}
{{ include('main/session/_edit.html.twig') }}
{% if session.current %}
{{ include('main/session/_add.html.twig') }}
{{ include('main/session/_exercice.html.twig') }}
{% endif %}
{% endif %}
                </section>
            </div>
{% if session.current %}
            <button id="button-new-set" class="d-none d-md-block btn btn-success text-nowrap" data-bs-toggle="modal" data-bs-target="#_add"><i class="fa-solid fa-plus"></i> {{ 'main.session.set.new'|trans }}</button>
{% endif %}
        </section>
{% endblock %}