{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container" {{ stimulus_controller('session') }}>
            <h2 id="athlete-username" hidden>{{ session.athlete.username }}</h2>
            <span hidden id="athlete-identifier">{{ session.athlete.id }}</span>
            <span hidden id="athlete-unit">{{ session.athlete.unit }}</span>
            <span hidden id="session-identifier">{{ session.id }}</span>
            <div class="row">
{% if session.current == false %}
                <section id="breadcrumb" class="mb-md-2 p-2 mx-auto d-flex justify-content-end align-items-center">
                    <div class="col-3 col-md-6 text-white fw-bold fs-3 text-truncate">
                        <span class="d-md-none">{{ position }}</span>
                        <span class="d-none d-md-inline identifier">{{ session.title }}</span>
                    </div>
                    <div class="col-9 col-md-6 text-end text-truncate" aria-label="breadcrumb">
                        <span><a href="{{ path('profile', {'username': session.athlete.username}) }}" class="text-decoration-none">@{{ session.athlete.username }}</a></span>
                        <span class="mx-1"><i class="fa-solid fa-chevron-right"></i></span>
                        <span class="d-md-none"><a class="text-decoration-none" href="{{ path('sessions', { 'username': session.athlete.username }) }}">{{ 'main.sessions.title'|trans }}</a></span>
                        <span class="d-none d-md-inline"><a class="text-decoration-none" href="{{ path('sessions', { 'username': session.athlete.username }) }}">{{ 'main.sessions.full'|trans }}</a></span>                        
                        <span class="mx-1"><i class="fa-solid fa-chevron-right"></i></span>
                        <span class="d-md-none fw-bold">{{ position }}</span>
                        <span class="d-none d-md-inline fw-bold">{{ ('main.' ~ page ~ '.title')|trans ~ ' ' ~ position }}</span>
                    </div>
                </section>
{% endif %}
                <section id="session" class="p-2 mx-auto">
                    <section id="session-messages" class="text-center">
                        <div id="loading" class="py-5"><i class="fa-solid fa-syringe"></i> {{ 'loading'|trans }}...</div>
                        <div id="welcome" class="py-5" hidden>{{ 'main.session.welcome'|trans }}</div>
                    </section>
                    <section id="session-exercices"></section>
{% if app.user == session.athlete and not session.current %}
                    <section id="session-delete" class="text-center" hidden>
                        <a href="{{ path('session_delete', { 'id': session.id }) }}"><button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> {{ 'main.session.delete'|trans }}</button></a>
                    </section>
{% endif %}
{% if session.current %}
{{ include('main/session/_edit.html.twig') }}
{{ include('main/session/_add.html.twig') }}
{% endif %}
                </section>
            </div>
        </section>
{% endblock %}