{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container" {{ stimulus_controller('session') }}>
            <h2 id="athlete-username" hidden>{{ session.athlete.username }}</h2>
            <span hidden id="athlete-identifier">{{ session.athlete.id }}</span>
            <span hidden id="user-identifier">{{ app.user.id }}</span>
            <span hidden id="user-unit">{{ app.user.settings.unit }}</span>
            <span hidden id="session-identifier">{{ session.id }}</span>
            <span hidden id="session-date">{{ session.start|date('d/m/Y') }}</span>
            <span id="draft"></span>
            <div class="row">
{% if not session.current %}
                <section id="breadcrumb" class="mb-md-2 p-2 mx-auto d-flex justify-content-end align-items-center">
                    <div class="col-6 fs-3 align-middle">
                        <span class="d-md-none">{{ position }}</span>
                        <input class="input-session-title d-none d-md-block form-control-plaintext text-white fw-bold py-0" value="{{ session.title }}"{% if session.athlete != app.user %} readonly{% endif %}>
                    </div>
                    <div class="col-12 col-md-6 text-end text-truncate" aria-label="breadcrumb">
                        <span><a href="{{ path('profile', {'username': session.athlete.username}) }}" class="text-decoration-none">@{{ session.athlete.username }}</a></span>
                        <span class="mx-1"><i class="fa-solid fa-chevron-right"></i></span>
                        <span class="d-md-none"><a class="text-decoration-none" href="{{ path('sessions', { 'username': session.athlete.username }) }}">{{ 'main.sessions.title'|trans }}</a></span>
                        <span class="d-none d-md-inline"><a class="text-decoration-none" href="{{ path('sessions', { 'username': session.athlete.username }) }}">{{ 'main.sessions.full'|trans }}</a></span>                        
                        <span class="mx-1"><i class="fa-solid fa-chevron-right"></i></span>
                        <span class="d-md-none fw-bold">{{ position }}</span>
                        <span class="d-none d-md-inline fw-bold">{{ ('main.' ~ page ~ '.title')|trans ~ ' ' ~ position }}</span>
                    </div>
                </section>
{% endif %}
                <section class="fs-3 mb-md-2 p-2{% if session.current %} mt-2{% else %} d-md-none pt-0{% endif %}">
                    <div hidden>
                        <input id="old-title" value="{{ session.title }}">
                    </div>
                    <form id="form-title" autocomplete="off">
                        <input name="id" value="{{ session.id }}" hidden>
                        <input name="title" class="input-session-title form-control-plaintext text-white text-center fw-bold py-0" value="{{ session.title }}"{% if session.athlete != app.user %} readonly{% endif %}>
                    </form>
                </section>
                <section id="session" class="p-2 mx-auto">
                    <section id="session-messages" class="text-center">
                        <div id="loading" class="py-5"><i class="fa-solid fa-syringe"></i> {{ 'loading'|trans }}...</div>
                        <div id="welcome" class="py-5 fw-bold" hidden>{{ 'main.session.welcome'|trans }}</div>
                    </section>
                    <section id="session-exercices"></section>
{% if app.user == session.athlete %}
{% if session.current %}
                    <div id="set-delete" class="text-end mt-1" hidden>
                        <a data-action="click->session#delete" class="text-decoration-none pointer-only">Supprimer la dernière série</a>
                    </div>
{% else %}
                    {#<section id="session-delete" class="text-center pt-md-2 mt-3" hidden>
                        <a href="{{ path('session_delete', { 'id': session.id }) }}"><button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> {{ 'main.session.delete'|trans }}</button></a>
                    </section>#}
{% endif %}
{% endif %}
{% if session.current %}
{{ include('main/session/_add.html.twig') }}
{% endif %}
                </section>
            </div>
        </section>
{% endblock %}