                            {{ form_start(form) }}
                                <label for="section-identity" class="form-label">Informations personnelles</label>
                                <section id="section-identity" class="mx-auto">
                                    <section id="section-fullname" class="mb-3">
                                        <div class="d-flex">
                                            <section id="section-firstname" class="form-floating col-6 pe-1">
                                                {{ form_widget(form.firstname) }}
                                                {{ form_label(form.firstname) }}
                                            </section>
                                            <section id="section-surname" class="form-floating col-6 ms-1 pe-1">
                                                {{ form_widget(form.surname) }}
                                                {{ form_label(form.surname) }}
                                            </section>
                                        </div>
                                        <p id="help-fullname" class="form-text text-danger"></p>
                                    </section>
                                    <section id="section-email" class="form-floating mb-3">
                                        {{ form_widget(form.email) }}
                                        {{ form_label(form.email) }}
                                        <p id="help-email" class="form-text text-danger"></p>
                                    </section>
                                    <section id="section-password" class="form-floating mb-3">
                                        {{ form_widget(form.password) }}
                                        {{ form_label(form.password) }}
                                        <p id="help-password" class="form-text text-danger"></p>
                                    </section>
                                    <section id="section-confirmation" class="form-floating mb-3" hidden>
                                        {{ form_widget(form.confirmation) }}
                                        {{ form_label(form.confirmation) }}
                                        <p id="help-confirmation" class="form-text text-danger"></p>
                                    </section>
                                </section>
                                <br>
                                <section id="section-description" class="form-group mb-3">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description) }}
                                    <p id="help-email" class="form-text text-danger"></p>
                                </section>
                                <section id="section-submit" class="d-grid gap-2">
                                    {{ form_widget(form.submit) }}
                                </section>
                                {{ form_widget(form._token) }}
                            {{ form_end(form) }}