            <aside id="_measurement" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <header class="modal-header">
                            <p class="modal-title fs-5">{{ 'main.profile.measurements.edit.title'|trans }}</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </header>
                        <main class="modal-body">
                            {{ form_start(measurement_form) }}
                                <label for="section-measurement" class="form-label fw-bold">{{ 'measurement.label'|trans }}</label>
                                <section id="section-measurement" class="mx-auto">
                                    <section id="section-height" class="form-group mb-3">
                                        <div class="d-flex align-items-center">
                                            <input type="range" class="form-range pe-3" id="range-height" min="1.4" max="2.2" step="0.01">
                                            {{ form_widget(measurement_form.height, {'attr': {'value': (height is defined and height) or (weight is defined and weight) ? height : null}}) }}
                                            <span class="ps-1">m</span>
                                        </div>
                                    </section>
                                    <section id="section-weight" class="form-group mb-3">
                                        <div class="d-flex align-items-center">
                                            <input type="range" class="form-range pe-3" id="range-weight" min="40" max="120" step="0.1">
                                            {{ form_widget(measurement_form.weight, {'attr': {'value': (weight is defined and weight) or (weight is defined and weight) ? weight : null}}) }}
                                            <span class="ps-1">kg</span>
                                        </div>
                                    </section>
                                    <p id="help-measurement" class="form-text text-danger"></p>
                                    <a id="delete_measurement" class="text-nowrap text-decoration-none pointer-only px-1">{{ 'main.profile.measurements.edit.delete'|trans }}</a>
                                </section>
                                {{ form_widget(measurement_form._token) }}
                            {{ form_end(measurement_form) }}
                        </main>
                        <footer class="modal-footer">
                            <button id="measurement_submit" class="btn btn-success" disabled><i class="fa-solid fa-pen-to-square"></i> {{ 'main.profile.measurements.edit.submit'|trans }}</button>
                        </div>
                    </div>
                </div>
            </aside>