                    <div class="accordion accordion-flush" id="sessions-accordion">
{% for session in sessions %}
                        <div id="session-{{ session.id }}" class="accordion-item border mb-2">
                            <div class="session-title border-bottom d-flex">
                                <div class="p-2 border-end">
                                    <span>{{ session.start|date('d/m/Y') }}</span>
                                </div>
                                <div class="p-2 w-100 text-truncate">
                                    <span>{{ session.subtitle }}</span>
                                </div>
                            </div>
                            <div>
                                <div class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-session-{{ session.id }}" aria-expanded="false" aria-controls="collapse-session-{{ session.id }}">
                                        <div class="text-truncate pe-3">
                                            <span class="identifier">{{ session.title }}</span>
                                        </div>
                                    </button>
                                </div>
                                <div id="collapse-session-{{ session.id }}" class="accordion-collapse collapse" data-bs-parent="#sessions-accordion">
                                    <div class="accordion-body pt-0">
                                        <div class="row">
                                            <section id="session-exercices-{{ session.id }}" class="mb-3 col-12">
                                                <table class="table mb-0 border exercice-list">
                                                    <tbody>
{% for exercice in session.exercices %}
                                                        <tr>
                                                            <td class="text-body">
{% if exercice.sequence %}
{% for part in exercice.exercices %}
                                                                {{ part.name ~ ' (' ~ part.equipment|trans ~ ')' }}{% if loop.index != exercice.exercices|length %},{% endif %}
{% endfor %}
{% else %}
                                                                {{ exercice.name ~ ' (' ~ exercice.equipment|trans ~ ')' }}
{% endif %}
                                                            </td>
                                                        </tr>
{% endfor %}
                                                    </tbody>
                                                </table>
                                            </section>
                                        </div>
                                        <section id="section-show" class="d-flex justify-content-center">
                                            <a class="btn btn-success" href="{{ path('session_display', { 'username': session.athlete.username, 'string': session.string }) }}">{{ 'main.profile.sessions.show'|trans }}</a>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endfor %}
                    </div>