                    <div class="accordion accordion-flush" id="sessions-accordion">
{% for session in sessions %}
                        <div id="session-{{ session.id }}" class="accordion-item border mb-2">
                            <div class="session-title border-bottom d-flex">
                                <div class="p-2 border-end">
                                    <span>{{ session.start|date('d/m/y') }}</span>
                                </div>
                                <div class="p-2 overflow-auto w-100">
                                    <span class="text-truncate">{{ session.subtitle }}</span>
                                </div>
                            </div>
                            <div>
                                <div class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-session-{{ session.id }}" aria-expanded="false" aria-controls="collapse-session-{{ session.id }}">
                                        <div class="overflow-auto">
                                            <span class="text-truncate identifier">{{ session.title }}</span>
                                        </div>
                                    </button>
                                </div>
                                <div id="collapse-session-{{ session.id }}" class="accordion-collapse collapse" data-bs-parent="#sessions-accordion">
                                    <div class="accordion-body">
                                        <section id="section-muscles">
                                            <h4>Muscles sollicités</h4>
                                        </section>
                                        <section id="section-exercices" class="my-3">
                                            <h4>Exercices</h4>
                                            <ul class="list-group">
{% for exercice in session.exercices %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    {{ exercice.name }}
                                                </li>
{% endfor %}
                                            </ul>
                                        </section>
                                        <section id="section-show" class="d-flex justify-content-center">
                                            <a class="btn btn-outline-secondary">Consulter la séance</a>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endfor %}
                    </div>