{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container" {{ stimulus_controller('profile') }}>
            <h2 id="athlete-username" hidden>{{ athlete.username }}</h2>
            <span hidden id="athlete-identifier">{{ athlete.id }}</span>
            <div class="row justify-content-center">
                {# Information #}<section id="information" class="pe-md-2 p-2 mx-auto{% if athlete.description or athlete.quotation %} me-lg-0{% endif %}">
                    {# Recto #}<div id="recto" class="d-flex justify-content-center align-items-center">
                        <span data-action="click->profile#{{ athlete == app.user or athlete.settings.measurement ? 'verso': 'private' }}" class="{{ athlete == app.user or athlete.settings.measurement ? 'pointer': 'not-allowed' }} d-lg-none"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
                        <div class="card mx-3 mx-lg-0">
                            <header class="card-header">
                                <section id="section-picture" class="text-center py-1">
                                    <img id="picture" width="175px" height="175px" class="profile-picture border p-1{% if athlete == app.user %} pointer-only" data-bs-toggle="modal" data-bs-target="#_edit{% endif %}" src="{% if athlete.picture %}{{ asset(athlete.picture) }}{% else %}{{ asset('images/placeholder-athlete.jpg') }}{% endif %}">
                                </section>
                            </header>
                            <main class="card-body justify-content-center align-items-center d-flex{% if athlete == app.user %} pointer-only" data-bs-toggle="modal" data-bs-target="#_edit"{% else %}"{% endif %}>
                                <section id="section-identity" class="text-center w-100">
{% if athlete.firstname or athlete.surname %}
                                    <section id="section-fullname" class="text-truncate">
                                        <span id="fullname" class="profile-fullname{% if athlete == app.user %} pointer-only" data-bs-toggle="modal" data-bs-target="#_edit{% endif %}">
{% if athlete.firstname %}
                                            <span id="firstname">{{ athlete.firstname }}</span>
{% if athlete.surname %}
    
{% endif %}
{% endif %}
{% if athlete.surname %}
                                            <span id="surname">{{ athlete.surname }}</span>
{% endif %}
                                        </span>
                                    </section>
{% endif %}
                                    <section id="section-username" class="text-truncate">
                                        <span id="username"><a class="text-decoration-none">@{{ athlete.username }}</a></span>
                                    </section>
                                </section>
                            </main>
                            <footer class="card-footer">
                                <section id="section-verso" class="d-flex justify-content-between align-items-center">
                                    <span data-action="click->profile#{{ athlete == app.user or athlete.settings.measurement ? 'verso': 'private' }}" class="{{ athlete == app.user or athlete.settings.measurement ? 'pointer': 'not-allowed' }} d-none d-lg-block"><i class="fa-solid fa-arrow-left"></i></span>
                                    <span data-action="click->profile#{{ athlete == app.user or athlete.settings.measurement ? 'verso': 'private' }}" class="{{ athlete == app.user or athlete.settings.measurement ? 'pointer': 'not-allowed' }} m-auto">1 / 2</span>
                                    <span data-action="click->profile#{{ athlete == app.user or athlete.settings.measurement ? 'verso': 'private' }}" class="{{ athlete == app.user or athlete.settings.measurement ? 'pointer': 'not-allowed' }} d-none d-lg-block"><i class="fa-solid fa-arrow-right"></i></span>
                                </section>
                            </footer>
                        </div>
                        <span data-action="click->profile#{{ athlete == app.user or athlete.settings.measurement ? 'verso': 'private' }}" class="{{ athlete == app.user or athlete.settings.measurement ? 'pointer': 'not-allowed' }} d-lg-none"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
{% if athlete == app.user or athlete.settings.measurement %}
                    {# Verso #}<div id="verso" class="justify-content-center align-items-center d-none">
                        <div hidden>
                            <input id="old-height" value="{{ athlete.height|replace({'.': ','}) }}">
                            <input id="old-weight" value="{{ athlete.weight|replace({'.': ','}) }}">
                        </div>
                        <span data-action="click->profile#recto" class="pointer d-lg-none"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
                        <div class="card mx-3 mx-lg-0">
                            <header class="card-header">
                                <div class="text-center">{{ 'measurement.label'|trans }}</div>
                            </header>
                            <main class="card-body">
                                <form id="section-measurement" autocomplete="off">
                                    <section id="section-height" class="mb-2">
                                        <div id="input-height" class="input-group flex-nowrap">
                                            <label for="measurement_height" id="measurement_height-before" class="input-group-text measurement-label justify-content-center">{{ 'measurement.height'|trans }}</label>
                                            <input id="measurement_height" name="measurement[height]" placeholder="?" class="form-control text-end border-end-0 pe-1 measurement-input text-white" inputmode="decimal"{% if athlete.height %} value="{{ athlete.height|replace({'.': ','}) }}"{% endif %}{% if athlete != app.user %} readonly{% endif %}>
                                            <label for="measurement_height" id="measurement_height-after" class="input-group-text measurement-unit border-start-0 bg-body ps-0 text">m</label>
                                        </div>
                                    </section>
                                    <section id="section-weight" class="mb-2">
                                        <div id="input-weight" class="input-group flex-nowrap">
                                            <label for="measurement_weight" id="measurement_weight-before" class="input-group-text measurement-label justify-content-center">{{ 'measurement.weight'|trans }}</label>
                                            <input id="measurement_weight" name="measurement[weight]" placeholder="?" class="form-control text-end border-end-0 pe-1 measurement-input text-white" inputmode="decimal"{% if athlete.weight %} value="{{ athlete.weight|replace({'.': ','}) }}"{% endif %}{% if athlete != app.user %} readonly{% endif %}>
                                            <label for="measurement_weight" id="measurement_weight-after" class="input-group-text measurement-unit border-start-0 bg-body ps-0 text">kg</label>  
                                        </div>
                                    </section>
{% if athlete.settings.bmi %}
                                    <section id="section-bmi" class="mb-2">
                                        <div class="input-group flex-nowrap">
                                            <span id="measurement_bmi-before" class="input-group-text measurement-label justify-content-center">{{ 'measurement.bmi'|trans }}</span>
                                            <input id="measurement_bmi" name="measurement[weight]" placeholder="?" class="form-control text-end border-end-0 pe-1 measurement-input text-white fw-bold" readonly>
                                            <span id="measurement_bmi-after" class="input-group-text border-start-0 bg-body ps-0 fw-bold">kg/m²</span>  
                                        </div>
                                    </section>
{% endif %}
                                </form>
                                <div id="measurements-list" class="text-end{% if not athlete.measurements|length %} d-none{% endif %}">
                                    <a href="{{ path('measurements', {'username': athlete.username}) }}" class="text-decoration-none">{{ 'main.profile.measurements.list'|trans }}</a>
                                </div>
                            </main>
{% if athlete == app.user %}
                            <footer class="card-footer bg-body border-0 text-center">
                                <button id="measurement_submit" class="btn btn-success mb-2" data-action="click->profile#measurement" hidden><i class="fa-solid fa-save"></i> {{ 'save'|trans }}</button>
                            </footer>
{% endif %}
                            <footer class="card-footer">
                                <section id="section-recto" class="d-flex justify-content-between align-items-center">
                                    <span data-action="click->profile#recto" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-left"></i></span>
                                    <span data-action="click->profile#recto" class="pointer m-auto">2 / 2</span>
                                    <span data-action="click->profile#recto" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-right"></i></span>
                                </section>
                            </footer>
                        </div>
                        <span data-action="click->profile#recto" class="pointer d-lg-none"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
 {% endif %}
                </section>
                {# Description #}<section id="description" class="ps-md-2 p-2 mx-auto ms-lg-0{% if not athlete.description and not athlete.quotation %} d-none d-lg-block{% endif %}">
                    <div class="card flex-fill{% if athlete == app.user %} pointer-only" data-bs-toggle="modal" data-bs-target="#_edit{% endif %}">
                        <main class="card-body overflow-auto identifier">
                            {{ athlete.description|raw }}
                        </main>
{% if athlete.quotation %}
                        <footer class="card-footer">
                            <figure id="quotation">
                                <blockquote class="blockquote">
                                    <span>{{ athlete.quotation.text }}</span>
                                </blockquote>
                                <figcaption class="blockquote-footer overflow-auto">
                                    <span>{{ athlete.quotation.author }}</span>
                                </figcaption>
                            </figure>
                        </footer>
{% endif %}
                    </div>
                </section>
{% if sessions is defined and sessions and (athlete == app.user or athlete.settings.training) %}
                {# Sessions #}<section id="sessions" class="p-2">
                    <h3 class="text-white">{{ 'main.profile.sessions.label'|trans }}</h3>
{{ include('main/profile/_sessions.html.twig') }}
                    <div class="text-end">
                        <a class="text-truncate text-decoration-none" href="{{ path('sessions', {'username': athlete.username}) }}">{{ 'main.profile.sessions.list'|trans }}</a>
                    </div>
                </section>
{% endif %}
            </div>
{% if athlete == app.user %}
{{ include('main/profile/_edit.html.twig') }}
{% endif %}
        </section>
{% endblock %}