{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container" {{ stimulus_controller('profile') }}>
            <h2 id="athlete-username" hidden>{{ athlete.username }}</h2>
            <span hidden id="athlete-identifier">{{ athlete.id }}</span>
            <div class="row justify-content-center">
                {# Information #}<section id="information" class="pe-md-2 p-2 mx-auto{% if athlete.description or athlete.quotation %} me-lg-0{% endif %}">
                    {# Recto #}<div id="recto" class="d-flex justify-content-center align-items-center">
{% if (athlete.measurement or athlete == app.user) and ((height is defined and height) or (weight is defined and weight)) %}
                        <span data-action="click->profile#verso" class="pointer d-lg-none"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
{% endif %}
                        <div class="card mx-3 mx-lg-0">
                            <header class="card-header">
                                <section id="section-picture" class="text-center py-1">
                                    <img id="picture" width="175px" height="175px" class="profile-picture border p-1" src="{% if athlete.picture %}{{ asset(athlete.picture) }}{% else %}{{ asset('images/placeholder-athlete.jpg') }}{% endif %}">
                                </section>
                            </header>
                            <main class="card-body justify-content-center align-items-center d-flex">
                                <section id="section-identity" class="text-center w-100 text-truncate">
{% if athlete.firstname or athlete.surname %}
                                    <section id="section-fullname" class="fs-3">
                                        <span id="fullname">
{% if athlete.firstname %}
                                            <span id="firstname">{{ athlete.firstname }}</span>
{% if athlete.surname %}
    
{% endif %}
{% endif %}
{% if athlete.surname %}
                                            <span id="surname">{{ athlete.surname }}</span>
{% endif %}
                                        </span>
                                    </section>
{% endif %}
                                    <section id="section-username">
                                        <span id="username"><a href="{{ path('profile', {'username': athlete.username}) }}" class="text-decoration-none">@{{ athlete.username }}</a></span>
                                    </section>
                                </section>
                            </main>
                            <footer class="card-footer">
{% if (height is defined and height) or (weight is defined and weight) %}
{% if athlete.measurement or app.user == athlete %}
                                <section id="section-verso" class="d-flex justify-content-between align-items-center">
                                    <span data-action="click->profile#verso" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-left"></i></span>
                                    <span data-action="click->profile#verso" class="m-auto pointer">1 / 2</span>
                                    <span data-action="click->profile#verso" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-right"></i></span>
                                </section>
{% else %}                                
                                <section id="section-not-allowed" class="d-flex justify-content-center align-items-center">
                                    <span class="not-allowed"><i class="fa-solid fa-lock"></i></span>
                                </section>
{% endif %}
{% else %}  
                                <section id="section-no-measurement" class="d-flex justify-content-center align-items-center">
                                    <span class="fw-bold">∅</span>
                                </section>
{% endif %}
                            </footer>
                        </div>
{% if (athlete.measurement or athlete == app.user) and ((height is defined and height) or (weight is defined and weight)) %}
                        <span data-action="click->profile#verso" class="pointer d-lg-none"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
{% endif %}
                    </div>
{% if (athlete.measurement or athlete == app.user) and ((height is defined and height) or (weight is defined and weight)) %}
                    {# Verso #}<div id="verso" class="justify-content-center align-items-center d-none">
                        <span data-action="click->profile#recto" class="pointer d-lg-none"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
                        <div class="card mx-3 mx-lg-0">
                            <header class="card-header">
                                <div class="text-center fw-bold">{{ 'main.profile.measurements.label'|trans }}</div>
{% if athlete == app.user %}
                                <div class="text-center">
{% if athlete.measurement %}
                                    <span class="badge bg-success"><i class="fa-solid fa-eye"></i> {{ 'main.profile.measurements.public'|trans }}</span>
{% else %}
                                    <span class="badge bg-danger"><i class="fa-solid fa-eye-slash"></i> {{ 'main.profile.measurements.private'|trans }}</span>
{% endif %}
                                </div>
{% endif %}
                            </header>
                            <main class="card-body">
                                <div>
                                    <table class="table table-dark table-striped text-center border">
                                        <thead>
                                            <tr>
                                                <th scope="col">{{ 'main.profile.measurements.height'|trans }}</th>
                                                <th scope="col">{{ 'main.profile.measurements.weight'|trans }}</th>
                                                <th scope="col">{{ 'main.profile.measurements.bmi.label'|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ athlete.height }}</td>
                                                <td>{{ athlete.weight }}</td>
{% set bmi = athlete.weight / ((athlete.height / 100) * (athlete.height / 100)) %}
                                                <td class="fw-bold">{{ bmi|round(1) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                    <a href="{{ path('measurements', {'username': athlete.username}) }}" class="text-decoration-none">{{ 'main.profile.measurements.list'|trans }}</a>
                                </div>
                            </main>
                            <footer class="card-footer">
                                <section id="section-recto" class="d-flex justify-content-between align-items-center">
                                    <span data-action="click->profile#recto" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-left"></i></span>
                                    <span data-action="click->profile#recto" class="m-auto  pointer">2 / 2</span>
                                    <span data-action="click->profile#recto" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-right"></i></span>
                                </section>
                            </footer>
                        </div>
                        <span data-action="click->profile#recto" class="pointer d-lg-none"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
{% endif %}
                </section>
{% if athlete.description or athlete.quotation %}
                {# Description #}<section id="description" class="ps-md-2 p-2 mx-auto ms-lg-0">
                    <div class="card flex-fill">
                        <main class="card-body overflow-auto identifier">
                            {{ athlete.description|raw }}
                        </main>
{% if athlete.quotation %}
<!-- 
                        <footer class="card-footer">
                            <figure id="quotation">
                                <blockquote class="blockquote overflow-auto">
                                    <span class="text-truncate">{{ athlete.quotation.text }}</span>
                                </blockquote>
                                <figcaption class="blockquote-footer overflow-auto">
                                    <span class="text-truncate">{{ athlete.quotation.author }}</span>
                                </figcaption>
                            </figure>
                        </footer>
-->
{% endif %}
                    </div>
                </section>
{% endif %}
{% if sessions is defined and sessions %}
                {# Sessions #}<section id="sessions" class="p-2">
                    <h3 class="text-white">{{ 'main.profile.sessions.last'|trans }}</h3>
{{ include('main/profile/_sessions.html.twig') }}
                    <div class="text-end">
                        <a class="text-truncate text-decoration-none" href="{{ path('sessions', {'username': athlete.username}) }}">{{ 'main.profile.sessions.full'|trans }}</a>
                    </div>
                </section>
{% endif %}
            </div>
{% if athlete is defined and athlete == app.user %}
            <button id="button-edit" class="btn btn-light text-nowrap" data-action="click->profile#edit" data-bs-toggle="modal" data-bs-target="#_edit"><i class="fa-solid fa-pen-to-square"></i> {{ 'main.profile.edit.button'|trans }}</button>
{{ include('main/profile/_edit.html.twig') }}
{% endif %}
        </section>
{% endblock %}