{% extends 'base.html.twig' %}
{% block body %}
        <h2 hidden>{{ athlete.username }}</h2>
        <section class="content container" {{ stimulus_controller('profile') }}>
            <div class="row justify-content-center">
                {# Information #}<section id="information" class="pe-md-2 p-2 mx-auto{% if athlete.description or athlete.quotation %} me-lg-0{% endif %}">
                    {# Recto #}<div id="recto" class="d-flex justify-content-center align-items-center">
                        <span data-action="click->profile#verso" class="pointer d-lg-none"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
                        <div class="card mx-3 mx-lg-0">
                            <header class="card-header">
                                <section id="section-picture" class="text-center py-1">
                                    <img id="picture" width="175px" height="175px" class="profile-picture border p-1" src="{% if athlete.picture %}{{ asset(athlete.picture) }}{% else %}{{ asset('images/placeholder-athlete.jpg') }}{% endif %}">
                                </section>
                            </header>
                            <main class="card-body justify-content-center align-items-center d-flex">
                                <section id="section-identity" class="text-center w-100">
{% if athlete.firstname or athlete.surname %}
                                    <section id="section-fullname" class="fs-3 overflow-auto">
                                        <span id="fullname" class="text-truncate">
{% if athlete.firstname %}
                                            <span id="firstname">{{ athlete.firstname }}</span>
{% if athlete.surname %}
    
{% endif %}
{% endif %}
{% if athlete.surname %}
                                            <span id="surname">{{ athlete.surname }}</span>
{% endif %}
                                        </span>
                                    </section>
{% endif %}
                                    <section id="section-username" class="overflow-auto">
                                        <span id="username" class="text-truncate identifier">@{{ athlete.username }}</span>
                                    </section>
                                </section>
                            </main>
                            <footer class="card-footer">
                                <section id="section-verso" class="d-flex justify-content-between align-items-center">
                                    <span data-action="click->profile#verso" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-left"></i></span>
                                    <span data-action="click->profile#verso" class="m-auto  pointer">1 / 2</span>
                                    <span data-action="click->profile#verso" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-right"></i></span>
                                </section>
                            </footer>
                        </div>
                        <span data-action="click->profile#verso" class="pointer d-lg-none"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                    {# Verso #}<div id="verso" class="justify-content-center align-items-center d-none">
                        <span data-action="click->profile#recto" class="pointer d-lg-none"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
                        <div class="card mx-3 mx-lg-0">
                            <header class="card-header">
                            </header>
                            <main class="card-body">
                            </main>
                            <footer class="card-footer">
                                <section id="section-recto" class="d-flex justify-content-between align-items-center">
                                    <span data-action="click->profile#recto" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-left"></i></span>
                                    <span data-action="click->profile#recto" class="m-auto  pointer">2 / 2</span>
                                    <span data-action="click->profile#recto" class="pointer d-none d-lg-block"><i class="fa-solid fa-arrow-right"></i></span>
                                </section>
                            </footer>
                        </div>
                        <span data-action="click->profile#recto" class="pointer d-lg-none"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </section>
{% if athlete.description or athlete.quotation %}
                {# Description #}<section id="description" class="ps-md-2 p-2 mx-auto ms-lg-0">
                    <div class="card flex-fill">
                        <main class="card-body overflow-auto identifier">
                            {{ athlete.description|raw }}
                        </main>
{% if athlete.quotation %}
                        <footer class="card-footer">
                            <figure id="quotation">
                                <blockquote class="blockquote overflow-auto">
                                    <span class="text-truncate">{{ athlete.quotation.text }}</span>
                                </blockquote>
                                <figcaption class="blockquote-footer overflow-auto">
                                    <span class="text-truncate">{{ athlete.quotation.author }}</span>
                                </figcaption>
                            </figure>
                        </footer>
{% endif %}
                    </div>
                </section>
{% endif %}
{% if sessions is defined and sessions %}
                {# Sessions #}<section id="sessions" class="p-2">
                    <h3 class="text-white">{{ 'main.profile.sessions.last'|trans }}</h3>
{{ include('main/profile/_sessions.html.twig') }}
                    <div class="text-end">
                        <a class="text-truncate text-decoration-none" href="{{ path('sessions', {'username': athlete.username}) }}">{{ 'main.profile.sessions.full'|trans }}</a>
                    </div>
                </section>
{% endif %}
            </div>
{% if athlete is defined and athlete == app.user %}
            <button id="button-edit" class="btn btn-light text-nowrap" data-action="click->profile#edit" data-bs-toggle="modal" data-bs-target="#_edit"><i class="fa-solid fa-pen-to-square"></i> {{ 'main.profile.edit.button'|trans }}</button>
{{ include('main/profile/_edit.html.twig') }}
{% endif %}
        </section>
{% endblock %}