{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container" {{ stimulus_controller('register') }}>
            <div id="title" class="text-center py-3">
                <h2 id="authentication-title" class="text-white mb-0">{{ 'authentication.register.form'|trans }}</h2>
                <a class="text-decoration-none" href="{{ path('authentication_login') }}"><i class="fa-solid fa-right-to-bracket"></i> {{ 'authentication.login.form'|trans }}</a>
            </div>
{{ include('authentication/register/_form.html.twig') }}
        </section>
{% endblock %}