{% extends 'base.html.twig' %}
{% block body %}
        <section class="content container">
            <div id="title" class="text-center py-3">
                <h2>{{ 'authentication.register.title'|trans }}</h2>
                <p class="required">{{ 'authentication.register.required'|trans }}</p>
            </div>
{{ include('authentication/register/_form.html.twig') }}        
            <p class="text-center py-3"><a href="{{ path('authentication_login') }}">{{ 'authentication.register.link'|trans }}</a></p>
        </section>
{% endblock %}