{% if app.user %}
{% set section = 'main' %}
{% else %}
{% set section = 'authentication' %}
{% endif %}
<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% if page == 'session' %}{{ session.title }}{% else %}{% if page == 'profile' or page == 'profile.sessions' %}@{{ athlete.username }} - {% endif %}{% if search is defined and search|length %}« {{ search }} » - {% endif %}{{ (section ~ '.' ~ page ~ '.' ~ 'title')|trans }}{% endif %}</title>
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</head>
<body>
    <h1 hidden>{{ 'title'|trans }}</h1>
    <header class="{{ section }} {% if section == 'main' %}bg-dark border-bottom {% endif %}py-3 px-md-3 d-flex align-items-center">
{% include("/#{section}/header.html.twig") %}
    </header>
{% if section == 'main' %}
{{ include('main/_session.html.twig') }}
{% endif %}
    <main class="{{ section }} p-2 p-md-3">
{% block body %}{% endblock %}
    </main>
    <footer class="{{ section }} {% if section == 'main' %}border-top border-bottom {% endif %}p-2 p-md-3">
{% include("/#{section}/footer.html.twig") %}
    </footer>
{% if section == 'main' %}
    <div id="nav-mobile" class="{{ section }} d-md-none {% if section == 'main' %}bg-dark border-top {% endif %}d-flex align-items-center">
{% if app.user.isWorkingOut == false %}
{{ include('main/nav-mobile.html.twig') }}
{% endif %}
    </div>
{% endif %}
</body>
</html>
