{% if app.user %}
{% set section = 'main' %}
{% set date = 'now'|date('U') + app.user.settings.jetlag %}
{% else %}
{% set section = 'authentication' %}
{% endif %}
<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% if app.user and app.user.workingOut %}{{ 'main.session.new'|trans }}{% else %}{% if page == 'home' %}{{ 'app'|trans }} - {% endif %}{% if page == 'profile' or page == 'sessions' or page == 'session' or page =='measurements' %}@{{ athlete.username }} - {% endif %}{% if search is defined and search|length %}« {{ search }} » - {% endif %}{{ (section ~ '.' ~ page ~ '.' ~ 'title')|trans }}{% if page == 'session' %} {{ position }}{% endif %}{% endif %}</title>
    <meta name="description" content="{{ 'description'|trans }}">
    <meta name="theme-color" content="#252A2E">
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</head>
<body>
    <h1 hidden>{{ 'app'|trans }}</h1>
    <input id="jetlag" type="hidden">
    <div id="flashes" hidden>
        <div id="success">
{% for flash in app.flashes('success') %}
            <input value="{{ flash }}">
{% endfor %}
        </div>
        <div id="error">     
{% for flash in app.flashes('error') %}
            <input value="{{ flash }}">
{% endfor %}
        </div>
    </div>
    <header id="header" class="{{ section }} {% if section == 'main' %}bg-dark border-bottom {% endif %}py-3 px-md-3 d-flex align-items-center">
{% include("/#{section}/header.html.twig") %}
    </header>
{% if section == 'main' and not app.user.workingOut %}
{{ include('main/_new_session.html.twig') }}
{% endif %}
    <main id="main" class="{{ section }} p-2 p-md-3">
{% block body %}{% endblock %}
    </main>
    <footer id="footer" class="{{ section }} {% if section == 'main' %}border-top border-top {% endif %}p-2 p-md-3">
{% include("/#{section}/footer.html.twig") %}
    </footer>
{% if section == 'main' %}
{{ include('main/_settings.html.twig') }}
    <div id="nav-mobile" class="{{ section }} d-md-none {% if section == 'main' %}bg-dark border-top {% endif %}d-flex align-items-center">
{{ include('main/nav-mobile.html.twig') }}
    </div>
{% if app.user.workingOut %}
    <div {{ stimulus_controller('exercice') }}>
{{ include('main/_select_exercice.html.twig') }}
{{ include('main/_form_exercice.html.twig') }}
    </div>
{% endif %}
{% endif %}
</body>
</html>
