{% if app.user %}
{% set section = 'main' %}
{% else %}
{% set section = 'authentication' %}
{% endif %}
<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{{'title'|trans }} / {{ title|trans }}</title>
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</head>
<body>
    <h1 hidden>{{ 'title'|trans }}</h1>
    <header class="{{ section }} {% if section == 'main' %}border-bottom {% endif %}p-2 p-md-3">
{% include("/#{section}/header.html.twig") %}
    </header>
    <main class="{{ section }} p-2 p-md-3">
{% block body %}{% endblock %}
    </main>
    <footer class="{{ section }} p-2 p-md-3">
{% include("/#{section}/footer.html.twig") %}
    </footer>
</body>
</html>
